nav {
    position: fixed;
    height: 100%;
    width: 3%;
    background-color: #2F2F31;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;
    overflow: auto;
}

#settings {
    position: fixed;
    margin-left: 4%;
    height: 100%;
    width: 0%;
    background-color: rgb(30, 30, 30);
    transition: 0.2s;
}

#settings header {
    height: 5%;
}

@media only screen and (min-width: 2000px) {
    #settings p {
        font-size: 1.6rem !important;
    }
}

img {
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 50%;
    width: 100%;
}

.inputHolder .fa{
    color: white;
    background-color: #22A86D;
    width: 15px;
    padding: 10px;
}

.wrap {
    background-color: #2F2F31;
    padding: 3rem;
}

.inputHolder {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#searchbar {
    overflow: hidden !important;
    height: 3%;
    display: none;
    margin-top: 5%;
    overflow: auto;
}

#searchbar input {
    min-width: 0px;
    height: 100%;
    width: 76%;
}

#searchbar button {
    width: 13%;
    margin-left: 0.1%;
    height: 100%;
}

#firstParent {
    background-color: #3E4649;
}

#play {
    width: 5%;
    border: 2px solid black;
    border-radius: 8px;
    margin: 25px;
    cursor: pointer;
}

#questions {
    width: 80%;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 13px;
}

#questions div {
    width: 100%;
    text-align: center;
    margin: .4rem;
}

#score {
    text-align: center;
}

.images {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.image {
    min-width: 250px;
    max-width: 400px;
}