
#item_container{
    position: absolute;
    left: 330px;
    bottom: 0;
    right: 0;
    top: 0;
    display: none;  
}

.question_block:first-child{
    margin-top: 20px;
}

.question_block{
    margin-top: 40px;
}

.question{
    width: 699px;
    height: 338px;
    background: #21A96D 0% 0% no-repeat padding-box;
    border-radius: 17px;
    opacity: 1;
    padding: 0 10px 0 15px;
    margin-left: 180px;
    padding: 20px 10px 30px 15px;
    font-size:medium; 
    margin-top: 20px;
    height: auto;
}

.pic_button{
    margin-left: 14px;
    margin-bottom: 93px;
}

.question_header{
    display: flex;
    justify-content: left;
    align-items: center;
}

.load_icon{
    width: 66px;
    height: 42px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    margin-left: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load_image{
    width: 50%;
    height: 56%;
}

#head_container, #description_block{
    opacity: 1;
    padding: 5px;
    padding-left: 70px;
    margin-left: 3px;
}

#head_container{
    background: #667073 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 87px;

}

#description_block{ 
    display: flex;
    justify-content: end;
    padding-top: 40px;
}

#name_area{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    text-align: left;
    height: 42px;
    width: 699px;
    margin-left: 10px;
    letter-spacing: 0px;
    color: #5D6277;
    opacity: 1;
    padding-right: 10px;
    padding-left: 15px;
}


.head_button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    color: #5D6277;
    margin-left: 10px;
    width: 66px;
    height: 42px;
}


#item_container p{
    font-size: 14px;
    color:white;
    padding: 7px;
    width: 55px;
}



#name, #description{
    color:white;
}

#name, #description {
    display: inline-block;
    min-width: 100px;
    max-width: 150px;
}

#head_buttons{
    margin-left: 100px;
    min-width: 250px;
}
.question{
    color:white;
}

.question_name{
    color: white;
    width: 645px;
    margin-top: 20px;
    margin-left: 2%;
    letter-spacing: 0px;
    padding: 14px 10px 10px 15px;
    min-height: 84px;
    height: auto;
}

.question_block_icon{
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 118px;
}

.question_block{
    display: flex;
    justify-content: left;
    align-items: center;
}

#description_area{
    margin-left: 10px;
    width: 699px;
    height: 84px;
    padding: 20px 10px 10px 15px;
}

.answer_text{
    margin-left: 10px;
    width: 453px;
    letter-spacing: 0px;
    padding: 14px 10px 10px 15px;
}

.points{
    width: 66px;
    height: 44px;
    padding: 0 !important;
    text-align: center !important;
}

#description_area, .question_name, .answer_text, .points{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1; 
    text-align: left;
    letter-spacing: 0px;
    color: #5D6277;

}


.answer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:3%;
    margin-top: 10px;
}

.right_icon{
    margin: 0 30px 0 11px;
}

.add_pic_answer{
    display: inline-block;
}

.answers_block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.add_pic_answer{
    margin-left:15px;
}

.add_answer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}


.add_answer_button, #add_question_button{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_answer_button{
    width: 42px;
    height: 26px;
}

#add_question_button{
    width: 60px;
    height: 38px;
    margin: 20px 0 20px 515px;
    display: block;
}

.add_answer_image, #add_question_image{
    height: 56%;
}

#question_types{
    margin-left: 345px;
}

.question_type {
    width: 110px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    color: #5D6277;
    margin-left: 15px;
}

.delete{
    height: 14px;
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
        display: inline-block;
    position: absolute;
    top: 0;
    right: 7px;
    
} 

.load_picture{
    width: 66px;
    height: 42px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic_answer{
    width: 162px;
    height: 270px;
    display: inline-block;
    margin: 10px 0 0 12px;
    position: relative;
}

.image_block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 130px;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    flex-direction: column;
    position: relative;
}

.image_load_block{
    width: 103px;
    height: 139px;
    background: #9DC3D1 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    position: absolute;
    top: 13px;
}

.reload_picture{
    position: absolute;
    bottom: -4px;
}

.reload_image{
    width: 12px;
}

.pic_points{
    display: flex;
    margin-top:7px; 
}

.input_image{
    position: absolute;
    top: 5px;
    left: 0;
    background: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    font-size:0;
}

.answer_image{
    height: 100%;
    border-radius: 15px;
    margin-top: 0;
}

div.drag-sort-active {
    background: transparent;
    color: transparent;
    border: 1px solid #4ca1af;
}

.pic_ans_inp {
    margin-top: 7px;
}

.pic_text{
    width: 130px;
}